import puppeteer, { Page } from "puppeteer";
import { wait, log } from "./utils";

const baseUrl = "{{ keycloak_url }}/admin";
const CLIENT_ID = "{{ keycloak_client_id }}";
const USERNAME = "{{ keycloak_admin }}";
const PASSWORD = "{{ keycloak_password }}";
const EMAIL = "{{ admin_email }}";

(async () => {
  // Launch the browser and open a new blank page
  const browser = await puppeteer.launch({
    headless: "new",
    args: ["--no-sandbox"],
    timeout: 60_000,
  });
  const page = await browser.newPage();

  // Navigate the page to a URL
  await page.goto(baseUrl);

  // Set screen size
  await page.setViewport({ width: 1200, height: 1024 });

  await page.waitForSelector("#kc-form-login");

  /**
   * ===========================
   * LOGIN
   */
  await page.type("#kc-form-login input[name=username]", USERNAME);
  await page.type("#kc-form-login input[name=password]", PASSWORD);
  await Promise.all([
    page.waitForNavigation(),
    page.click("#kc-form-login #kc-login"),
  ]);

  //  Click Clients page
  page.goto(`${baseUrl}/master/console/#/master/clients`);

  // Client Page
  const element = await page.waitForSelector(
    "#kc-main-content-page-container table tbody"
  );

  // If client exists
  const shouldCreateClient = await element.evaluate((el, CLIENT_ID) => {
    const value = Array.from(el.children).reduce((acc, element) => {
      const link = element.querySelector("a");
      if (link.textContent.trim().includes(CLIENT_ID)) {
        acc = link.href.replace("settings", "credentials");
      }
      return acc;
    }, null as string | null);

    return value;
  }, CLIENT_ID);

  if (shouldCreateClient) {
    await readClientSecret(page, shouldCreateClient);
  } else {
    // Create new Client
    await Promise.all([
      page.waitForNavigation(),
      page.goto(`${baseUrl}/master/console/#/master/clients/add-client`),
    ]);

    // Fill client id field
    const clientIdEl = await page.waitForSelector("input[id=clientId]");
    await clientIdEl.type(CLIENT_ID);

    // Client next button
    await page.click("button[data-testid=next]");

    // Enable authentication switch
    const el = await page.waitForSelector("#kc-authentication-switch");
    await el.click();

    // Client next button
    await page.click("button[data-testid=next]");

    const redirectEl = await page.waitForSelector("#kc-redirect input");
    redirectEl.type("*");

    const originEl = await page.waitForSelector("#kc-web-origins input");
    originEl.type("*");

    // Client save button
    await Promise.all([
      page.waitForNavigation(),
      page.click("button[data-testid=save]"),
    ]);

    await readClientSecret(page, page.url().replace("settings", "credentials"));
  }

  /**
   * ===========================
   * Admin Email
   */
  await adminEmail(page).catch();

  await browser.close();
})();

async function adminEmail(page: Page) {
  await Promise.all([
    page.waitForNavigation(),
    page.goto(`${baseUrl}/master/console/#/master/users`),
  ]);

  const usersPage = await page.waitForSelector(
    "section[data-testid=users-page] table tbody"
  );

  const adminLink = await usersPage.evaluate((tbody) => {
    return Array.from(tbody.querySelectorAll("tr")).reduce((acc, tr) => {
      const link = tr.querySelector("a");
      if (link.textContent.includes("admin") && acc == null) {
        acc = link.href;
      }
      return acc;
    }, null as null | string);
  });

  if (!adminLink) {
    return;
  }

  await Promise.all([
    page.waitForNavigation(),
    page.goto(adminLink),
  ]);

  const emailInput = await page.waitForSelector("input[name=email]");
  const value = await emailInput.evaluate((input) => {
    return input.value;
  });

  if (value.trim().length === 0) {
    await emailInput.type(EMAIL);
    const saveButton = await page.waitForSelector(
      "button[data-testid=save-user]"
    );

    await Promise.all([page.waitForNetworkIdle(), saveButton.click()]);
  }
}

async function readClientSecret(page: Page, url: string) {
  await Promise.all([page.goto(url), page.waitForNavigation()]);

  const secretElement = await page.waitForSelector("#kc-client-secret");

  await wait(2);

  const secretKey = await secretElement.evaluate(
    (el: HTMLInputElement) => el.value
  );

  log(secretKey);
}
